<script src="{{ 'index.umd.min.js' | asset_url }}" defer="defer"></script>

{%- if block.settings.environment == 'production' -%}
  {%- assign api = 'https://book-appointment-shopify-app.herokuapp.com' -%}
{%- else -%}
  {%- assign api = 'https://2ec4a45ed4f0.eu.ngrok.io' -%}
{%- endif -%}


  <template
    id="product-availability"
    data-product-id="{{ product.id }}"
    data-api-url="{{ api }}"
  >
    <style>
      .mb {
        margin-bottom: 1.5rem;
      }

      .date, .time {
        position: absolute;
        right: 15px !important;
        top: 15px !important;
      }

      .customer .field input:not(:placeholder-shown) {
        padding: 1.5rem !important;
      }

      input:disabled, select:disabled {
        cursor: not-allowed;
        opacity: .4;
        background: #ebebeb !important;

      }
    </style>

    <input id="staff" name="properties[staff]" hidden>

    <div class="customer">
      <div class="mb">
        <label class="form__label" for="staffSelect"> 1. Vælg frisør: </label>
        <div class="select">
          <select id="staffSelect" required>
            <option value="" selected>Vælg frisør</option>
            <option value="Enhver tilgængelig">Enhver tilgængelig</option>
          </select>
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
            </path>
          </svg>
        </div>
      </div>

      <div class="mb">
        <label class="form__label" for="dateInput"> 2. Vælg dato: </label>
        <div class="field">
          <input id="dateInput" name="properties[date]" class="input" required disabled placeholder="">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret date" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1">
            <path xmlns="http://www.w3.org/2000/svg" d="M716.066 584.985c33.755 0 61.117-27.363 61.117-61.115s-27.362-61.12-61.117-61.12c-33.752 0-61.117 27.367-61.117 61.12s27.364 61.115 61.117 61.115z m0-81.487c11.251 0 20.372 9.12 20.372 20.372 0 11.249-9.12 20.372-20.372 20.372-11.25 0-20.372-9.123-20.372-20.372 0-11.252 9.122-20.372 20.372-20.372zM308.62 584.985c33.754 0 61.117-27.363 61.117-61.115s-27.363-61.12-61.117-61.12c-33.755 0-61.115 27.367-61.115 61.12s27.36 61.115 61.115 61.115z m0-81.487c11.25 0 20.372 9.12 20.372 20.372 0 11.249-9.121 20.372-20.372 20.372-11.25 0-20.373-9.123-20.373-20.372 0-11.252 9.124-20.372 20.373-20.372z m203.722 305.584c33.755 0 61.117-27.367 61.117-61.12s-27.362-61.114-61.117-61.114c-33.752 0-61.116 27.362-61.116 61.115s27.364 61.119 61.116 61.119z m0-81.49c11.254 0 20.373 9.122 20.373 20.37 0 11.252-9.12 20.373-20.373 20.373-11.25 0-20.372-9.121-20.372-20.372 0-11.25 9.123-20.37 20.372-20.37z m203.724 81.49c33.755 0 61.117-27.367 61.117-61.12s-27.362-61.114-61.117-61.114c-33.752 0-61.117 27.362-61.117 61.115s27.364 61.119 61.117 61.119z m0-81.49c11.251 0 20.372 9.122 20.372 20.37 0 11.252-9.12 20.373-20.372 20.373-11.25 0-20.372-9.121-20.372-20.372 0-11.25 9.122-20.37 20.372-20.37z m162.98-631.54H777.183v-0.003c0-33.752-27.362-61.117-61.117-61.117-33.752 0-61.117 27.365-61.117 61.117v0.002H573.46v-0.002c0-33.752-27.362-61.117-61.117-61.117-33.752 0-61.116 27.365-61.116 61.117v0.002h-81.49v-0.002c0-33.752-27.362-61.117-61.116-61.117-33.755 0-61.115 27.365-61.115 61.117v0.002H145.645c-45.005 0-81.491 36.484-81.491 81.49v733.4c0 45.007 36.486 81.491 81.49 81.491h733.403c45.005 0 81.487-36.484 81.487-81.491v-733.4c0-45.004-36.484-81.49-81.488-81.49z m-183.352-0.003c0-11.251 9.123-20.372 20.372-20.372 11.251 0 20.372 9.12 20.372 20.372v40.747c0 11.249-9.12 20.37-20.372 20.37-11.25 0-20.372-9.121-20.372-20.37V96.049z m-203.724 0c0-11.251 9.123-20.372 20.372-20.372 11.254 0 20.373 9.12 20.373 20.372v40.747c0 11.249-9.12 20.37-20.373 20.37-11.25 0-20.372-9.121-20.372-20.37V96.049z m-203.723 0c0-11.251 9.124-20.372 20.373-20.372 11.25 0 20.372 9.12 20.372 20.372v40.747c0 11.249-9.121 20.37-20.372 20.37-11.25 0-20.373-9.121-20.373-20.37V96.049zM919.79 910.941c0 22.503-18.241 40.749-40.743 40.749H145.644c-22.506 0-40.745-18.246-40.745-40.75V320.145h814.89v590.797z m0-631.54h-814.89v-101.86c0-22.504 18.24-40.743 40.745-40.743h101.861c0.001 33.751 27.361 61.115 61.115 61.115 33.754 0 61.115-27.364 61.117-61.115h81.489c0 33.751 27.364 61.115 61.116 61.115 33.755 0 61.116-27.364 61.117-61.115h81.49c0 33.751 27.364 61.115 61.116 61.115 33.755 0 61.116-27.364 61.117-61.115h101.863c22.502 0 40.743 18.239 40.743 40.742v101.862zM512.342 584.986c33.755 0 61.117-27.363 61.117-61.115s-27.362-61.12-61.117-61.12c-33.752 0-61.116 27.367-61.116 61.12s27.364 61.115 61.116 61.115z m0-81.487c11.254 0 20.373 9.12 20.373 20.372 0 11.249-9.12 20.372-20.373 20.372-11.25 0-20.372-9.123-20.372-20.372 0-11.252 9.123-20.372 20.372-20.372zM308.62 809.082c33.754 0 61.117-27.367 61.117-61.12s-27.363-61.114-61.117-61.114c-33.755 0-61.115 27.362-61.115 61.115s27.36 61.119 61.115 61.119z m0-81.49c11.25 0 20.372 9.122 20.372 20.37 0 11.252-9.121 20.373-20.372 20.373-11.25 0-20.373-9.121-20.373-20.372 0-11.25 9.124-20.37 20.373-20.37z" fill=""/>
          </svg>
        </div>
      </div>

      <div class="mb">
        <label class="form__label" for="timeSelect"> 3. Vælg tid: </label>
        <div class="select">
          <select id="timeSelect" class="select" required disabled>
            <option value="" disabled selected>Vælg tid</option>
          </select>
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret time" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1"><path d="M512 16C238.064 16 16 238.08 16 512c0 273.936 222.064 496 496 496 273.952 0 496-222.048 496-496C1008 238.08 785.952 16 512 16zM512 946.976C272.688 946.976 78 751.312 78 512 78 272.688 272.688 78 512 78S946 272.688 946 512C946 751.312 751.312 946.976 512 946.976zM543.008 499.424 543.008 202c0-17.12-13.872-31.008-31.008-31.008s-31.008 13.872-31.008 31.008L480.992 512c0 8.768 3.664 16.64 9.52 22.288 0.528 0.608 0.944 1.28 1.52 1.856l153.44 153.44c12.112 12.112 31.744 12.112 43.84 0s12.112-31.728 0-43.84L543.008 499.424z"/></svg>
        </div>
      </div>
    </div>

    <input id="time" name="properties[time]" hidden>
    <input id="data" name="properties[_data]" hidden>
  </template>

    {% schema %}
    {
      "name": "product",
      "target": "body",
      "javascript": "form.js",
      "templates": ["product"],
      "settings": [
        {
          "label": "Environment",
          "id": "environment",
          "type": "select",
          "options": [
            {
              "label": "Development",
              "value": "development"
            },
            {
              "label": "Production",
              "value": "production"
            }
          ],
          "default": "production"
        }
      ]
    }
    {% endschema %}
  </h1>
</h1>
