<script src="{{ 'index.umd.min.js' | asset_url }}" defer="defer"></script>

<template
  id="product-availability"
  data-product-id="{{ product.id }}"
  data-shop="testeriphone.myshopify.com"
>
  <style>
    .margin-bottom {
      margin: 1.5rem 0 2.5rem 0;
    }

    .product-form {
      margin-top: -0.5rem !important;
    }

    .select,
    .input {
      min-height: calc(4.5rem + var(--buttons-border-width) * 2);
      font-size: 1.4rem;
      font-weight: 500;
      opacity: 0.85;
      padding: 0.5rem;
    }
  </style>

  <input id="staff" name="properties[staff]" hidden>

  <div class="product-form__input margin-bottom">
    <label class="form__label" for="staffSelect"> Choose artist: </label>
    <select id="staffSelect" class="select" required>
      <option value="" selected>Vælge medarbejder</option>
      <option value="Enhver tilgængelig">Enhver tilgængelig</option>
    </select>
  </div>

  <div class="product-form__input margin-bottom">
    <label class="form__label" for="dateInput"> Choose date: </label>
    <input id="dateInput" name="properties[date]" class="input" required disabled>
  </div>

  <div class="product-form__input margin-bottom">
    <label class="form__label" for="timeSelect"> Choose time: </label>
    <select id="timeSelect" class="select" required disabled>
      <option value="" disabled selected>Vælg tid</option>
    </select>
  </div>

  <input id="time" name="properties[time]" hidden>
  <input id="data" name="properties[_data]" hidden>
</template>

{% schema %}
{
  "name": "product",
  "target": "body",
  "javascript": "form.js",
  "templates": ["product"],
  "settings": []
}
{% endschema %}
